@font-face {
    font-family: 'JI Burrito';
    src: url('JIBurrito.woff2') format('woff2'),
        url('JIBurrito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

